h1 {
  /* Màu chữ */
  color: red;
  /* Font chữ */
  font-family: "Times New Roman", Times, serif;
  /* Kiểu chữ */
  font-style: italic;
  /* Căn chữ */
  text-align: center;
  /* Chuyển hóa chữ thường hoặc hoa */
  text-transform: none;
  /* Cỡ chữ */
  font-size: 40px;
  /* Quy định độ trong suốt  */
  opacity: 1;
  /* Ẩn phần tử khỏi giao diện
  display: none; */
  /* Ẩn hoặc hiện element (khác với opacity: ; không tương tác được)
  visibility: hidden; (ẩn)
  visibility: visible; (hiện) */
}
.hitec-td-tkbTuan {
  font-weight: bold;
  text-align: center;
}
.text-center {
  text-align: center;
}

img {
  transition: 1.5s;
}

input:checked ~ img {
  opacity: 0;
  visibility: hidden;
}

#title_1 {
  color: aquamarine;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2.title {
  color: red;
}
h3.title {
  color: blue;
}

/* div p {
  color: blue;
} */

/* .loichuc p {
  font-size: 30px;
} */

div > p {
  color: red;
}

/* chọn thẻ h2 nằm sau h1 */
h1 + h2 {
  color: blue;
  text-align: center;
}

.can-giua + h2 {
  text-align: center;
}

/* Chọn tất cả các thẻ h3 nằm sau h1 */
h1 ~ h3,
h4 {
  text-align: center;
}

/* [attribute]  ví dụ: [href] chọn tất cả thuộc tính href */
/* [href] {
  color: black;
} */

/* [attribute = value] ví dụ: [target= "_blank"] 
chọn tất cả các thuộc tính có chính xác giá trị: target= "_blank" */
a[target="_blank"] {
}

/* Chọn tất cả các thuộc tính: tile có chứa từ Click3 trong giá trị */
a[title~="Click3"] {
  color: blueviolet;
}

/* attribute|= value VD: title|= pic 
có từ bắt đầu bằng pic, pic-1-2... */
[title|="pic"] {
  color: red;
}

/* attribute ^= value VD: title ^= ttt 
title bắt đầu bằng từ ttt ( ko quan tâm space phía sau ) */
[title^="ttt"] {
  color: cadetblue;
}

/* attribute $= value VD: title ^= ttt 
kết thúc bằng từ 2*/
[title$="2"] {
  color: blue;
}

a[target="_blank"]:hover {
  color: red;
}

/* --------------------------------- */
/*              Psedou classes              */
/* Tác dụng lên selector khi di chuột qua */
a[title="hover"]:hover {
  color: red;
  font-size: 40px;
}

/* Tác dụng lên selector khi nhấn giữ chuột  */
a[title="active"]:active {
  color: green;
  font-size: 30px;
}

/* Tác dung lên selector khi chưa klick vào truy cập 
( vd: dùng để đổi màu các trang truyện đã đọc hoặc tập phim đã xem) */
a[title^="link-visited"]:link {
  color: blue;
}

/* Tác dụng lên selector khi đã klick truy cập */
a[title^="link-visited"]:visited {
  color: red;
}

/* Tác dụng lên thẻ <> ko có nội dung */
.empty:empty {
  width: 200px;
  height: 200px;
  background-color: chocolate;
}
.empty {
  width: 200px;
  height: 200px;
  background-color: red;
}

/* chọn thẻ id khi trên URL có hash tương ứng
VD: http://index.html/#mobai */
h2:target {
  color: aquamarine;
}

/* ------------------------------------------- */
