h1 {
  /* Màu chữ */
  color: red;
  /* Font chữ */
  font-family: "Times New Roman", Times, serif;
  /* Kiểu chữ */
  font-style: italic;
  /* Căn chữ */
  text-align: center;
  /* Chuyển hóa chữ thường hoặc hoa */
  text-transform: none;
  /* Cỡ chữ */
  font-size: 40px;
  /* Quy định độ trong suốt  */
  opacity: 1;
  /* Ẩn phần tử khỏi giao diện
  display: none; */
  /* Ẩn hoặc hiện element (khác với opacity: ; không tương tác được)
  visibility: hidden; (ẩn)
  visibility: visible; (hiện) */
}
.hitec-td-tkbTuan {
  font-weight: bold;
  text-align: center;
}
.text-center {
  text-align: center;
}

img {
  transition: 1.5s;
}

input:checked ~ img {
  opacity: 0;
  visibility: hidden;
}

#title_1 {
  color: aquamarine;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2.title {
  color: red;
}
h3.title {
  color: blue;
}

/* div p {
  color: blue;
} */

/* .loichuc p {
  font-size: 30px;
} */

div > p {
  color: red;
}

/* chọn thẻ h2 nằm sau h1 */
h1 + h2 {
  color: blue;
  text-align: center;
}

.can-giua + h2 {
  text-align: center;
}

/* Chọn tất cả các thẻ h3 nằm sau h1 */
h1 ~ h3 {
  text-align: center;
}
