a {
  text-decoration: none;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  /* text-align: justify (Căn giàn đều hai bên)
     VD: 1 đoạn văn bản khi xuống dòng đôi khi từ ngắn từ dài sẽ 
     để lại khoảng trống nhưng từ tiếp theo ko thể chèn vào chỗ trống 
     đó sài justify để căn đều 2 bên
     text-align: center (căn giữa) */
  text-align: justify;
}

.roboto-font {
  font-family: "Roboto", sans-serif;

  /* độ dày của chữ */
  font-weight: 500;

  /* Chiều cao dòng =1.5 lần font size */
  line-height: 1.5;

  /* letter-spacing: ; Tăng giảm khoảng cách giữa các ký tự */
  letter-spacing: 5px;

  /* word-spacing: ; Tăng giảm khoảng cách giữa các " TỪ " */
  word-spacing: 10px;

  /* text-align: justify (Căn giàn đều hai bên)
     text-align: center (căn giữa) */
  display: block;
  text-align: center;
}

/* -------------------------------------------------------- */
/*                     TYPOGRAPHY IN CSS */
a {
  /* Bỏ gạch chân */
  text-decoration: none;

  /* Thêm gạch chân */
  text-decoration: underline;

  /* Thêm gạch ngang */
  text-decoration: line-through;

  /* Gạch trên đầu */
  text-decoration: overline;

  /*Có thể định kiểu dấu gạch chân, màu sắc, kích thước  */
  text-decoration: underline dotted red 5px;

  text-decoration: none;

  /* Thuộc tính text-indent Thụt lề */
  text-indent: -400px;
  text-indent: 400px;

  /* Thuộc tính text-transform  */
  /* Viết hoa chử cái đầu tiên */
  text-transform: capitalize;

  /* Viết thường toàn bộ text */
  text-transform: lowercase;

  /* Viết hoa toàn bộ text */
  text-transform: uppercase;

  /* Thuộc tính white-space quy đinh về khoảng trắng khi code */
  /* trạng thái mặc định */
  white-space: none;

  /* Không xuống dòng ( kể cả chạm tới lề ) */
  white-space: nowrap;

  /* Giữ nguyên định dạng code giống thẻ <pre> */
  white-space: pre;

  /* Giữ định dạng theo line (enter)
      -Tất cả dấu khoảng trắng thừa mỗi dòng trong văn
       bản sẽ bị loại bỏ
      -Dòng mới (xuống dòng) được giữ nguyên*/
  white-space: pre-line;

  /* Thuộc tính Word-break */
  /* văn bản tự động xuống dòng khi tới giới hạn
  VD: người dùng cố ý nhập 1 chuỗi ký tự dài có thể gây vỡ giao diện
  vì text ko bị xuống dòng */
  word-break: break-all;
}

.shadow {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;

  /* Thuộc tính text-shadow bóng đổ text */
  /* text-shadow: horizantol, vertical, blur, color; */
  text-shadow: 0 -20px 3px blue;
}

.box {
  width: 400px;
  height: 300px;

  /* Thuộc tính overflow  */
  /* overflow: Visible (default) Thuộc tính mặc định: 
    Hiển thị nôi dung kể cả vượt box chứa
    overflow: hidden | Ẩn nội dung: khi nội dung vượt box chứa
    overflow: scroll | Tạo thanh cuộn: Luôn hiển thị vùng thanh cuốn
    overflow: auto   | Nếu nội dung ngắn -> ko tạo scroll bar
                     | Nếu nội dung vượt box chứa -> tự động sinh ra scroll bar*/

  overflow: auto;

  /* Thuộc tính scroll-behavior */
  /* scroll-behavior : auto (default) : khi lăn tới điểm giới hạn
    của nội dung thì tự động lăn tiếp nội dung bên ngoài
    scroll-behavior: contain chỉ lăn tới điểm giới hạn trong box đó */
  scroll-behavior: auto;
}

/*--------------------------------------------------------------- */
/*                 custom scrollbar css           */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* -------------------------------------------------------------- */
/* Tạo dấu 3 chấm khi nội dung vượt quá */
.overflow {
  text-overflow: ellipsis; /* tạo dấu ... */
  background-color: rgb(13, 104, 13, 0.4);
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

ul {
  font-size: 40px;
}
li {
  list-style-type: none;
  margin-top: 4px;
}

.fa-house {
  color: rgb(255, 196, 0);
}
.fa-facebook {
  color: #0866ff;
}
.fa-youtube {
  color: #ff0033;
}

img {
  display: block;
  margin: 0 auto;
}

/*-------------------------------------------------  */
/*                  BACKGROUND                 */

body {
  /* background-image: url(../img/avatar3.jpg); */

  /* Thuộc tính background-repeat */
  /* BG ko lặp lại */
  background-repeat: no-repeat;

  /* BG lặp lại ( mặc định ) */
  background-repeat: repeat;

  /* Thuộc tính background-size */
  /* cover 
  -Ảnh vừa khớp khung hình 
  -Giữ nguyên tỉ lệ ảnh (ko bị móp méo)
  -có thể mất 1 phần ảnh
  -Ko bị lặp ảnh */
  background-size: cover;

  /* contain
  -Ảnh vừa khung hình
  -Giữ nguyên tỉ lệ ảnh
  -Ko bị mất ảnh
  -Nếu có khoảng trống, ảnh sẽ bị lặp lại */
  background-size: contain;

  /* thuộc tính background-poisition : vị trí bắt đầu đặt ảnh nền */
  background-position: top;
}

.boxbg {
  height: 100px;
  margin-top: 10px;
}

/* -------------------------------------------------------------- */
/* Thuộc tính background-image: linear-gradient() dải nền chuyển sắc*/
/* linear-gradient(direction (hướng), color-1, color-2,...) 
   Color-1 % -> (ko áp dụng chuyển sắc tới đoạn %)
   Direction - điều hướng chuyển màu theo đọo (degree: 45 độ,...
   background-image: linear-gradient(45deg, color1, color2,...)*/

.box1 {
  background-image: linear-gradient(#cad2c5, #52796f);
}

.text-img {
  color: #ff72f8;
  font-family: "Inter", sans-serif;
  text-align: justify;
  margin-top: 20px;
  width: 500px;
  height: 200px;
  overflow: auto;
  scroll-behavior: contain;
  background-image: url(../img/avatar1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  /* Thuộc tính background-attachment */
  /* background-attachment: Scroll (Default) Ảnh tự động cuộn theo trình duyệt khi kéo xuống */
  /* background-attachment: fixed - Ảnh cố định khi có scroll lên xuông */
  /* background-attachment: local - Ảnh cố định cục bộ trong bố cục con */
  background-attachment: local;
}
