body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.vd1 {
  width: 100px;
  height: 100px;
  /* pandding: 20px (cả 4 hướng)
     Pandding: 20px 15px (20 px trên dưới, 15px trái phải)
     Pandding: 20px 15px 10px (20px trên, 15px trái phải, 10px dưới)
     Pandding: 20px 15px 10px 5px (theo chiều kim đồng hồ) */
  padding: 20px;
  background-color: red;

  /* Viền */
  border: 10px solid green;

  /* Bo viền  */
  border-radius: 20px;
}

.hop {
  background-color: rebeccapurple;
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 20px solid pink;
  border-radius: 30%;
  margin: 20px;
  text-align: center;
}

.box {
  height: 100px;
  width: 100px;
  padding: 10px;
}
.box1 {
  background-color: bisque;
  border: 10px solid rgb(131, 0, 120);
}

.box2 {
  background-color: green;
  margin-left: 140px;
  border: 10px solid black;
}

.box3 {
  border: 10px solid red;
  background-color: cadetblue;
  margin-left: 280px;
}

body {
  background-color: #ddd;
}

.container h1 {
  font-size: 40px;
}

.container p {
  font-size: 24px;

  /* khoảng cách giữa các dòng */
  line-height: 1.4;
}

.container {
  margin: 0 auto;
  width: 700px;
  text-align: center;
  background-color: #68bd07;
}

/* ---------------------------------------------- */
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid blanchedalmond;
  margin-left: -80px;
}

.avatar:first-child {
  margin: 0 auto;
}

.content {
  background-color: #d19b08;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.item {
  height: 100px;
  width: 100px;
  background-color: #2759e2;
  text-align: center;
}

/* ----------------------------------------- */
/* .box-top {
  display: flex;
  flex-direction: column;
} */
.box-parent img {
  width: 200px;
  height: 200px;
}
.box-top h1 {
  text-align: center;
}
.box-parent {
  min-height: 400px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #2553d18a;
}
.box-child {
  margin-top: 100px;
  margin-left: 20px;
  border: 2px solid black;
}
/* -------------------------------------------- */
.boxz {
  width: 100px;
  height: 150px;
  padding: 20px;
  border: 10px solid red;
  margin-top: 10px;

  /* Thuộc tính mặc định 
  width, height sẽ là kích thước của content*/
  box-sizing: content-box;
}

.box2z {
  /* width, height sẽ là kích thước của phần tử */
  box-sizing: border-box;
}

/* ---------------------------- */
a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: #fefae0;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 15px;
  font-weight: bolder;
}

a:hover {
  background-color: #d4a373;
  color: white;
}

.menu {
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 80vw;
  background-color: #bdb1b1;
  border-radius: 999px;
}

/* --------------------------------------------------------- */
/*Sans serif : Font ko có gai ở đầu chữ cái 
  Serif : Font có gai ở đầu
  Monospace : Font có cùng độ rộng */
